$answer{'db_host'}   = '{{ db_host }}';
$answer{'db_driver'} = '{{ db_driver }}';
$answer{'db_port'}   = {{ db_port }};
$answer{'db_name'}   = '{{ db_name }}';
$answer{'db_user'}   = '{{ db_user }}';
$answer{'db_pass'}   = '{{ db_pass }}';

$answer{'urlbase'} = '{{ urlbase }}';

$answer{'ADMIN_EMAIL'} = '{{ admin_email }}';
$answer{'ADMIN_PASSWORD'} = '{{ admin_password }}';
$answer{'ADMIN_REALNAME'} = '{{ admin_realname }}';

$answer{'NO_PAUSE'} = 1

